<h1>Wikinimous</h1>
<%= link_to("+ Add New article", articles_new_path) %>

<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %> - <%= link_to "update", article_edit_path(article) %> -
    <%= link_to "Delete #{article.title}",
            article_destroy_path(article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>


