@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";


.navbar-brand {
  align-content: left;
}

.container {
  width: 600px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

article{

  font-family: "Arial sans-serif";
  font-weight: 400;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
  }

li {
  margin-bottom:15px;/* à adapter */
  }